#menu {
    border: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#nav {
    height: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
}

#nav li {
    display: inline-block;
    /* position: relative; */
    float: left;
    /* background: gray; */
}

#nav li a {
    display: inline-block;
    width: 125px;
    line-height: 35px;
    padding: 20px;
    text-decoration: none;
    color: #ffffff;
}

#nav li li {
    float: left;

}

#nav li li a {
    display: block;
    font-size: 12px;
    padding: 20px;
    border-top: 3px solid white;
    border-right: 1px solid white;
}

#nav li:hover {
    background: #990033;
}

#nav li.bet-bg,
#nav li.bet-bg li {
    background-color: rgb(56, 56, 56);
}

#nav li.bet-bg,
#nav li.bet-bg ul li ul li {
    background-color: rgb(116, 115, 115);
}

#nav li.bet-bg:hover,
#nav li.bet-bg li:hover {
    background-color: rgb(31, 30, 30);
}

li.bet-bg,
li.rfi2-bg,
li.rfi-bg {
    width: 33%;
}

#nav li.rfi2-bg,
#nav li.rfi2-bg li {
    background-color: rgb(6, 6, 75);
}

#nav li.rfi2-bg ul li ul li {
    background-color: rgb(56, 56, 131);
}

#nav li.utg-bg:hover,
#nav li.utg-bg li:hover {
    background-color: rgb(6, 6, 37);
}

#nav li.rfi-bg,
#nav li.rfi-bg li {
    background-color: #990033;
}

#nav li.rfi-bg:hover,
#nav li.rfi-bg li:hover {
    background-color: #5a0e27;
}


img {
    z-index: 4;
    position: absolute;
    left: 0;
    top: 75px;
    margin-left: auto;
    margin-right: auto;
}


/*--- Sublist Styles ---*/
#nav ul {
    /* position: absolute; */
    padding: 0px;
    left: 0;
    display: none;
}

/* .margin-top-30 {
    margin-top: 30px;
}

.rfi-bg ul {
    margin-top: 70px;
} */

/*--- Hide Sub Sublists ---*/
#nav li:hover ul ul {
    display: none;
}

#nav li:hover ul ul ul {
    display: none;
}

/*--- Sublevel UL's display and position on hover ---*/
#nav li:hover ul {
    display: block;
}

#nav li li:hover ul {
    /* margin-left: 200px;
    margin-top: -35px; */
    display: block;
    position: initial;
}

#nav li li li:hover ul {
    display: block;
}